{{ $.Scratch.Add "additional_head_tags" "<link href=\"/fonts/font-linux.css\" rel=\"stylesheet\">" }}
{{ $.Scratch.Set "description" "Windows, macOS and Linux download and install instructions" }}
{{ partial "header.html" . }}

<style>
.download-os {
	text-align: center;
}
.download-os a {
	text-decoration: none;
	display: block;
}
.download-os div {
	font-size: 80px;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-10 offset-lg-1">
			{{ partial "breadcrumb.html" . }}

			<div class="page-heading">
				<h1>{{ .Title }}</h1>
			</div>
			<p>
				KiCad 5.1.12 was released in November 2021. <a href="/blog/2021/11/KiCad-5.1.12-Release/">See the announcement on the blog</a>. Details on the availability for your platform can be seen for each of the platforms below.
			</p>
			<h3>Select your operating system or distribution</h3>
			<div class="row row-cols-3 g-2">
				{{ range .Data.Pages }}
					{{ if .Params.distro }}
					<div class="col download-os">
						<a class="p-3 border bg-light" href="{{ .RelPermalink }}">
							{{ .Params.iconhtml | safeHTML }}
							{{ .Params.distro }}
						</a>
					</div>
					{{end}}
				{{end}}
			</div>
			<div class="my-3">
				<h3>My operating system or distribution isn't listed!</h3>
				<p>
					KiCad is an open source project, download instructions above are provided by the community.
					If you'd like to provide builds for your operating system or distribution, please submit a <a href="https://gitlab.com/kicad/services/kicad-website/-/merge_requests">merge request.</a>
				</p>
			</div>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
